.poster {
  width: 200px;
  height: 300px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
  min-height: 100vh;
}

.card {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
