.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #2f2f2f;
}
.padding {
  padding: 40px 80px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.stores-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.links {
  color: white;
}

.copyright {
  color: #d3d3d3;
}

.store {
  width: 135px;
  height: 40px;
}

.social {
  width: 40px;
  height: 40px;
}
