.container {
  height: 15%;
  width: 100%;
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 8px 6px -6px black;
}

.title {
  color: white;
  margin-left: 40px;
  font-size: 1.3em;
}

.sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.log-in {
  color: white;
  font-size: 0.8em;
}

.button {
  color: white;
  background-color: #0f0f0f;
  border: none;
  padding: 5px;
}

.sub-header {
  background-color: #1f1f1f;
  padding: 10px 0;
  width: 100%;
}

.text {
  color: white;
  margin: 0 0 0 40px;
  font-size: 1.1em;
}

@media only screen and (min-width: 665px) {
  .text {
    margin: 0 0 0 60px;
    font-size: 1.5em;
  }

  .title {
    margin-left: 60px;
    font-size: 2em;
  }

  .sub-container {
    margin-right: 60px;
    gap: 20px;
  }

  .log-in {
    font-size: 1em;
  }

  .button {
    padding: 10px;
  }
}
