.container {
  width: 172px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size: 1.5em;
}

.image {
  display: block;
  position: absolute;
  width: 172px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.img-background {
  position: relative;
  text-align: center;
  color: white;
  width: 172px;
  height: 258px;
  background-color: black;
}

@media only screen and (min-width: 665px) {
  .container {
    width: 254px;
    height: 450px;
  }

  .img-background {
    width: 254px;
    height: 381px;
  }

  .image {
    width: 254px;
  }

  .center {
    font-size: 2em;
  }
}
