.card {
  width: 172px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster {
  width: 172px;
  height: 258px;
}

@media only screen and (min-width: 665px) {
  .card {
    width: 254px;
    height: 450px;
  }

  .poster {
    width: 254px;
    height: 381px;
  }
}
